/* Layout styles */
.sectionContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1B3E37;
    flex-wrap: wrap;
    height: 100%;
}

.heroContainer {
    position: relative;
    background-image: url('./assets/hero.jpg');
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testing-item{
    background-color: #2d2d2d;
    color: white;
    border-radius: 16px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    margin: 20px;
    padding: 20px;
    max-width: 400px;
}