/*navbar*/
/* Navigatiebalk */
.navbar {
    background-image: url("../img/navbar.jpg");
    padding: 0;
    margin: 0;
    position: sticky;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: right;
}

.nav-container {

    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
}

.nav-logo {
    font-weight: bold;
    text-decoration: none;


}
.logo-image {
    max-width: 50px;
    height: auto;
    border-radius: 50px;
    margin-right: 40px;
    position: absolute;
    top: 5px;
    left: 25px;
    transition: transform 0.3s ease;

}

.nav-links {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

.nav-link {
    color: #e3ecf3;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: color 0.3s ease;
    text-align: right;
    margin: 25px 20px 0 0;
}

.nav-link:hover {
    color: #8fddc7; /* Zacht groen */
    transition: transform 0.3s ease-in-out;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 15px 20px 0 0;

}

.hamburger-line {
    width: 25px;
    height: 3px;
    background-color: #e3ecf3;
    border-radius: 2px;
    transition: all 0.3s ease;
    text-align: center;
}

.nav-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 20px;
    gap: 15px;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

.projects {
    padding: 2rem;
}

.hero-cta {
    color: #1B3E37; /* Fel Geelgroen */
}

/* navbar projecten */
.navbarprojects {
    background-color: #1B3E37;
    padding: 0.5rem 1rem;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: #cc5c2d solid 2px;
    border-radius: 10px;
    flex-direction: row;
    flex-grow: initial;


}
.navbarprojects > button {
    background-color: #cc5c2d;
    color: #E3ECF3;
    border: none;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease;
    margin:10px;
    height: 45px;
    min-width: 200px;
    Text-align: center;



}
.navbarprojects > button:hover {
    background-color: #e06b3f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbarprojects > button.active {
    background-color: #e06b3f;
    color: #1B3E37;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbarprojects > button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
}
.navbarprojects > .searchprojects {
    background-color: #E3ECF3;
    color: black;
    border: #cc5c2d solid 1px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 5px 75px;
    height: 38px;
}
