/* Page-specific styles */
.blog-template-container {
    max-width: 100%;
    margin: auto;
    padding: 4.5rem;
    background-image: url('./assets/img/foto/achtergrond/schilderachtergrond3.jpg');
    background-size: cover;
    color: #e3ecf3;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 40px;
}

/* Contact form styles */
.contact-form {
    background-color: #2d2d2d;
    color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}
