@font-face {
  font-family: 'slick';
  src: url('/fonts/slick/slick.eot');
  src: url('/fonts/slick/slick.eot?#iefix') format('embedded-opentype'),
       url('/fonts/slick/slick.woff') format('woff'),
       url('/fonts/slick/slick.ttf') format('truetype'),
       url('/fonts/slick/slick.svg#slick') format('svg');
  font-weight: normal;
  font-style: normal;
}
.slick-track {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
    max-width: 100%;
}