/* Hero Background */

.heroContainer {
    position: relative; /* Zorgt ervoor dat het pseudo-element correct gepositioneerd wordt */
    background-image: url('../public/assets/img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E3ECF3;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Donkere overlay op de achtergrond */
.heroContainer::before {
    content: ""; /* Vereist voor een pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Donkere overlay met 50% transparantie */
    z-index: 1; /* Zorgt ervoor dat de overlay boven de achtergrond zit */
}

/* Hero Content Box */
.heroBlock {
    position: absolute;
    z-index: 2; /* Houdt de heroBlock boven de achtergrond */
    inset: 0;
    margin: auto;
    backdrop-filter: blur(8px) saturate(120%);
    -webkit-backdrop-filter: blur(8px) saturate(120%);
    background-color: #E4ECDA;
    border-radius: 16px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 0.5rem 1rem; /* Minder ruimte rondom */
    width: auto; /* Breedte past zich aan aan de inhoud */
    max-width: 50%; /* Niet breder dan 80% van de container */
    min-height: 200px;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


/* Responsiviteit */
@media (max-width: 1024px) {
    .heroBlock {
        width: 60%;
        padding: 2.5rem;
    }
}

@media (max-width: 768px) {
    .heroContainer {
        height: 50vh;
    }

    .heroBlock {
        width: 80%;
        padding: 2rem;
    }

    .block {
        width: 80%;
    }

    h1 {
        font-size: 36px;
    }

    .hero-h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    .hero-h2 {
        font-size: 18px;
    }

    .block {
        width: 90%;
    }
}


.icon {
border-radius: 50%;
    font-size: 2.1rem;
    color: #e06b3f;
    margin-left: 20px;
    margin-right: 15px;
    text-align: left;
}

/*HERO*/
.hero {
    display: flex;
    max-width: 1440px;
    gap: 2em;
    justify-content: space-between;
    margin: 5em 2em;
}

.text {
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    text-align: left;
    margin-left: 5%;
}

.text__short {
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
}
.text__title {
    line-height: 1.1;
    margin: 0;
    font-size: 60px;
}
.text__description {
    line-height: 145%;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 1em;
}
.text__button {
    max-width: 120px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #479A7E;
    padding: 1em 2em;
    border-radius: 0.5em;
}
.grid__container {
    min-width: 60%;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(8, 1fr);
}
.grid__item {
    border-radius: 0.5em;
}
.one {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: url("../public/assets/hero-images/one.jpg");
    background-position: center;
    background-size: cover;
    background-color: #1B3E37;
}
.two {
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    background-image: url("../public/assets/hero-images/two.jpg");
    background-position: center;
    background-size: cover;
    background-color: #BDD57C;
}
.three {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    background-image: url("../public/assets/hero-images/three.jpg");
    background-position: center;
    background-size: cover;
    background-color: #FE8152;
}

@keyframes changeColorFour {
    0% { background-color: #1B3E37; }
    50% { background-color: #BDD57C; }
    100% { background-color: #FE8152; }
}
.four {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    background-color: #1B3E37;
    border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 0 0 100px 0;
    animation: changeColorFour 20s infinite alternate;
}
.five {
    grid-column: 5 / 7;
    grid-row: 2 / 4;
    background-image: url("../public/assets/hero-images/five.jpg");
    background-position: center;
    background-size: cover;
    background-color: #8FDDC7;
}
@keyframes changeColorSix {
    0% { background-color: #FE8152; }
    50% { background-color: #8FDDC7; }
    100% { background-color: #1B3E37; }
}
.six {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
    background-color: #FE8152;
    border-radius: 0 100px 0 0;
    -moz-border-radius: 0 100px 0 0;
    -webkit-border-radius: 0 100px 0 0;
    animation: changeColorSix 20s infinite alternate;
}
.seven {
    grid-column: 7 / 8;
    grid-row: 3 / 4;
    background-image: url("../public/assets/hero-images/seven.jpg");
    background-position: center;
    background-size: cover;
    background-color: #1B3E37;
}

@keyframes changeColorEight {
    0% { background-color: #BDD57C; }
    50% { background-color: #FE8152; }
    100% { background-color: #8FDDC7; }
}
.eight {
    grid-column: 8 / 9;
    grid-row: 3 / 4;
    border-radius: 50%;
    background-color: #BDD57C;
    animation: changeColorEight 20s infinite alternate;
}
@keyframes changeColorNine {
    0% { background-color: #1B3E37; }
    50% { background-color: #FE8152; }
    100% { background-color: #BDD57C; }
}
.nine {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background-color: #1B3E37;
    border-radius: 100px 0 0 0;
    -moz-border-radius: 100px 0 0 0;
    -webkit-border-radius: 100px 0 0 0;
    animation: changeColorNine 20s infinite alternate;
}
.ten {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-image: url("../public/assets/hero-images/ten.jpg");
    background-position: center;
    background-size: cover;
    background-color: #FE8152;
}
.eleven {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
    background-image: url("../public/assets/hero-images/eleven.jpg");
    background-position: center;
    background-size: cover;
    background-color: #1B3E37;
}
.twelve {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    background-image: url("../public/assets/hero-images/twelve.jpg");
    background-position: center;
    background-size: cover;
    background-color: #8FDDC7;
}
@media (max-width: 900px) {
    .grid__container {
        min-width: 50%;
        height: 400px;
        margin-top: 50px;
    }
    @media (max-width: 780px) {
        .hero {
            flex-direction: column-reverse;
            margin: 2em 2em;
        }

        .text {
            width: 100%;
        }
    }
}



.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    background-color: #1B3E37;
    flex-wrap: wrap;
    height: 90vh;
}
a {
    color: #E3ECF3; /* Warm Wit */
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
    border-bottom: 2px solid transparent;
}




.logo {
    width: 60px;
    height: auto;
    border-radius: 8px;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}






